

<div class="container text-left">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Work Experience</h2>
      </div>
      <% @experiences.each do |exp| %>
        <div class="col-md-8 col-md-offset-2">
          <h3><%= exp.company %></h3>
        </div>
        <div class="col-md-6 col-md-offset-2">
          <h4><%= exp.title %>
          <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <%= link_to ' Edit', edit_experience_path(exp), :class => "btn btn-default fa fa-pencil-square-o" %>
            <%= link_to ' Delete', exp, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger fa fa-trash" %>
          </div></h4>
        </div>
        <div class="col-md-4">
          <h4><%= exp.date %></h4>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <ul style="list-style-type: circle">
            <li style="font-family: Helvetica"><%= exp.description %></li>
          </ul>
        </div>
      <% end %>
    </div>
</div>

<br>

<%= link_to ' New Experience', new_experience_path, class: "btn btn-default  fa fa-plus-square-o fa-lg" %>
