<h1> <%= current_user.name %> </h1>
<%= current_user.address %><br />
<% current_user.phone %>

<div>
  <% if @educations.find_by_id(current_user) %>
    <h2>Education</h2>
    <% edu = @educations.find_by_id(current_user) %>
    <%= edu.school %> | <%= edu.award %> <br />
    <%= edu.location %> | <%= edu.date %> <br />
    <%= edu.description %>
  <% end %>
</div>

<div>
  <% if @experiences.find_by_id(current_user) %>
    <h2>Work Experience</h2>
    <% exp = @experiences.find_by_id(current_user) %>
    <%= exp.title %> | <%= exp.company %> | <%= exp.date %> <br />
    <%= exp.description %>
  <% end %>
</div>

<div>
  <% if @activities.find_by_id(current_user) %>
    <h2>Activities and Projects</h2>
    <% act = @activities.find_by_id(current_user) %>
    <%= act.date %> | <%= act.title %> | <%= act.description %>
  <% end %>
</div>

<div>
  <% if @activities.find_by_id(current_user) %>
    <h2>Qualifications</h2>
    <% qual = @qualifications.find_by_id(current_user) %>
    <%= qual.description %>
  <% end %>
</div>