<div class="container">
	<div class="row">
		<div class="text-center col-md-12">
			<h2><%= current_user.name %></h2>
			<h4><%= current_user.address %><br>
			<%= current_user.phone %><br>
      <%= current_user.email %></h4>
		</div>
	</div>
</div>
<div class="container text-left">
  <% if @educations.exists? %>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2>Education</h2>
				<% @educations.each do |edu| %>
					<h3><%= edu.school %></h3>
					<h4><%= edu.award %></h4>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<div class="container text-left">
  <% if @experiences.exists? %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Work Experience</h2>
      </div>
      <% @experiences.each do |exp| %>
        <div class="col-md-8 col-md-offset-2">
          <h3><%= exp.company %></h3>
        </div>
        <div class="col-md-6 col-md-offset-2">
          <h4><%= exp.title %></h4>
        </div>
        <div class="col-md-4">
          <h4><%= exp.date %></h4>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <ul style="list-style-type: circle">
            <li style="font-family: Helvetica"><%= exp.description %></li>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @activities.exists? %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Activities and Projects</h2>
      </div>
      <% @activities.each do |act| %>
          <div class="col-md-6 col-md-offset-2">
            <h4><%= act.title %></h4>
          </div>
          <div class="col-md-4">
            <h4><%= act.date %></h4>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <ul style="list-style-type: circle">
              <li style="font-family: Helvetica"><%= act.description %></li>
            </ul>
          </div>
      <% end %>
    </div>
  <% end %>

  <% if @qualifications.exists? %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Qualifications</h2>
      </div>
      <% @qualifications.each do |qual| %>
        <div class="col-md-8 col-md-offset-2">
          <ul style="list-style-type: circle">
            <li style="font-family: Helvetica"><%= qual.description %></li>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>