

<div class="container text-left">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Activities and Projects</h2>
    </div>
    <% @activities.each do |act| %>
        <div class="col-md-6 col-md-offset-2">
          <h4><%= act.title %>
          <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <%= link_to ' Edit', edit_activity_path(act), :class => "btn btn-default fa fa-pencil-square-o" %>
            <%= link_to ' Delete', act, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger fa fa-trash" %>
          </div></h4>
        </div>
        <div class="col-md-2">
          <h4><%= act.date %></h4>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <ul style="list-style-type: circle">
            <li style="font-family: Helvetica"><%= act.description %></li>
          </ul>
        </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to ' New Activity', new_activity_path, class: "fa fa-plus-square-o fa-lg btn btn-default" %>
