<!DOCTYPE html>
<html>
<head>
  <title>Resumatorv1</title>
  <link href= "//maxcdn.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css", rel= 'stylesheet'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style='background-color: #fdebc6'>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="user-nav">
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>.
        <div class="btn-group pull-right" role="group" aria-label="...">
          <%= link_to "View resume", root_url, class: "btn btn-info" %>
          <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-info" %>
          <%= link_to "Edit resume", dashboard_path, class: "btn btn-info" %>
          <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  <%= yield %>
  </div>
  <script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>
</body>
</html>
